*{
    margin: 0px;
    box-sizing: border-box;
}
body{
    background-color: white;
    color: black;
    height: 100vh;
    margin: 0px;
}

#game_grid{
    display: flex;
    flex-wrap: wrap;
    border: 2px solid palegoldenrod;
    width: 600px;
    height: 400px;
    margin: auto;
    gap: 10px;
    perspective: 1000px;
}

.card{
    width: calc(33.3% - 10px);
    position: relative;
    transition: transform .5s;
    transform-style: preserve-3d;
}

.front_face, .back_face{
    width: 100px;
    height: 100px;
    position: absolute;
    backface-visibility: hidden;
}

.front_face{
    transform: rotateY(180deg);

}
.flip{
    transform: rotateY(180deg);

}
img{
    width: 100px;
    height: 125px;
}
.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}
